<section class="about section">
    <img class="about__bg" src="images/about.png" alt="about-bg">
    <div class="container">
        <div class="about__inner">
            <div class="about__left">
                <div class="about__title title">
                    Информация об организации
                </div>
                <div class="about__text-inner">
                    <p>
                        ООО "Оренбургские промышленные технологии"
                    <p>
                        Мы профессионально оказываем услуги аутсорса и обучения на территории Российской Федерации. Наш
                        штат состоит только из сотрудников с высшим образованием по направлениям: "Техносферная
                        безопасность" (инженер по ОТ и ПБ) и педагогов дополнительного профессионального обучения.
                    </p>
                    <p>
                        Имеем все необходимые разрешительные документы и лицензии!
                    </p>
                    <p>
                        Руководство - Генеральный директор ООО "Оренбургские промышленные технологии": Морковцев
                        Константин Владимирович
                         
                    </p>
                    <p>
                        Реквизиты организации:
                    </p>
                    <a href="#">
                        Скачать карту партнёра
                    </a>
                </div>
            </div>
            <div class="about__img-wrap">
                <img class="about__img" width="400" height="400" src="images/big-logo.png" alt="logo">
            </div>
        </div>
    </div>
</section>