<section class="center section">
    <div class="container">
        <div class="center__title title">
            Учебный центр
        </div>
        <div class="center__subtitle">
            Получите востребованную рабочую профессию и станьте специалистом, готовым к работе на производстве!
        </div>
        <div class="center__text">
            Мы предлагаем качественное обучение по широкому спектру профессий, востребованных на современном рынке
            труда. Опытные преподаватели-практики, современное оборудование и индивидуальный подход к каждому ученику –
            залог вашего успеха.
        </div>
        <ul class="center__list">
            <li class="center__item">
                <img class="center__img" src="images/s.png" width="450" height="250" alt="s">
            </li>
            <li class="center__item">
                <img class="center__img" src="images/s.png" width="450" height="250" alt="s">
            </li>
            <li class="center__item">
                <img class="center__img" src="images/s.png" width="450" height="250" alt="s">
            </li>
        </ul>
    </div>
</section>