<section class="contact section">
    <div class="container">
        <div class="contact__title title">
            Контактная информация
        </div>
        <div class="contact__inner">
            <div class="contact__left">
                <div class="contact__item">
                    <div class="contact__subtitle">
                        Документы
                    </div>
                    <ul class="contact__docs">
                        <li>
                            <a href="#">Политика обработки персональных данных</a>
                        </li>
                        <li>
                            <a href="#">Согалсие на обработку персональных данных</a>
                        </li>
                    </ul>
                </div>
                <div class="contact__item">
                    <div class="contact__subtitle">
                        Номера
                    </div>
                    <ul class="contact__phones">
                        <li>
                            <a href="tel:+79996577777">
                                <img class="header__phone-icon" src="images/icon/phone-black.svg" alt="phone" width="24"
                                    height="24">
                                <span>+7 (999) 657-77-77</span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+79996577777">
                                <img class="header__phone-icon" src="images/icon/phone-black.svg" alt="phone" width="24"
                                    height="24">
                                <span>+7 (999) 657-77-77</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contact__item">
                    <div class="contact__subtitle">
                        Социальные сети
                    </div>
                    <ul class="social footer__social-block">
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <img class="social__img" src="images/social/whatsapp.svg" alt="social" width="48"
                                    height="48">
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <img class="social__img" src="images/social/vk.svg" alt="social" width="48" height="48">
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <img class="social__img" src="images/social/telegram.svg" alt="social" width="48"
                                    height="48">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact__map">
                <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A29ed759b63aa9f0d63dfaddd95175ffb2417d202f1651f099636efdddefb543d&amp;source=constructor"
                    width="100%" height="440" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>