<section class="docs section">
    <div class="container">
        <div class="docs__title title">
            Документы
        </div>
        <a class="docs__link" href="#">
            Лицензия Министерства образования N ЛО35-01248-56/02588436 от 03.07.2025г.
        </a>
        <ul class="docs__list">
            <li class="docs__item">
                <img class="docs__img" src="images/docs/1.jpg" alt="docs" width="272" height="340">
                <div class="docs__info-box">
                    <div class="docs__top">
                        <div class="docs__name">
                            Программа профессиональной подготовки по профессиям рабочих, должностям служащих
                        </div>
                        <div class="docs__info">
                            Срок обучения - 256 часов
                            Форма обучения - с применением дистанционных технологий, электронное обучение
                        </div>
                    </div>
                    <a class="docs__btn btn" href="#">
                        Скачать
                    </a>
                </div>


            </li>
            <li class="docs__item">
                <img class="docs__img" src="images/docs/2.jpg" alt="docs" width="272" height="340">
                <div class="docs__info-box">
                    <div class="docs__top">
                        <div class="docs__name">
                            Аккредитация Министерства труда и социальной защиты
                        </div>
                        <div class="docs__info">
                            Об аккредитации ООО "ОренПромТех" в области охраны труда. 
                        </div>
                    </div>
                    <a class="docs__btn btn" href="#">
                        Скачать
                    </a>
                </div>


            </li>
            <li class="docs__item">
                <img class="docs__img" src="images/docs/3.jpg" alt="docs" width="272" height="340">
                <div class="docs__info-box">
                    <div class="docs__top">
                        <div class="docs__name">
                            Программп повышения квалификации
                        </div>
                        <div class="docs__info">
                            Срок обучения - 72 часа
                            Форма обучения - с применением дистанционных технологий, электронное обучение.
                        </div>
                    </div>
                    <a class="docs__btn btn" href="#">
                        Скачать
                    </a>
                </div>


            </li>
        </ul>
    </div>
</section>