<header class="header _main lock--padding">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo-wrap">
                <a class="header__logo logo" href="#">
                    <img class="logo__img" src="images/logo.png" alt="logo" width="100" height="100">
                </a>
            </div>
            <nav class="header__nav menu" id="menu">
                <button class="menu__burger burger toggle-menu" type="button">
                    <img class="burger__img" src="images/icon/close.svg" alt="burger">
                </button>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Список услуг
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Учебный центр
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            О нас
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Отзывы
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__right">
                <a class="header__phone" href="tel:32113133">
                    <img class="header__phone-icon" src="images/icon/phone.svg" alt="phone" width="24" height="24">
                    <span>+7 (999) 657-77-77</span>
                </a>
                <a class="header__btn btn popup--link" href="#popup">
                    Оставить заявку
                </a>
                <button class="header__burger burger toggle-menu" type="button">
                    <img class="burger__img" src="images/icon/burger.svg" alt="burger">
                </button>
            </div>
        </div>
    </div>
</header>