<section class="links section">
    <div class="container">
        <div class="links__title title">
            Ссылки на государственные сайты
        </div>
        <ul class="links__list">
            <li class="links__item">
                <a class="links__link" href="#">
                    Госуслуги
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    Министертсво образования РФ
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    Налоговая служба
                </a>
            </li>
            <li class="links__item">
                <a class="links__link" href="#">
                    Минтруд РФ
                </a>
            </li>
        </ul>
    </div>
</section>