<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content bg-grad ">
      <a href="#" class="popup__close popup--close">
        <svg class="popup__close-img" width="9" height="9" viewBox="0 0 9 9" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M8.38909 0.610889L0.610913 8.38906M0.610913 0.610889L8.38909 8.38906" stroke="#000"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>

      <form class="popup__inner ">
        <div class="popup__title title_accent">
          Обратный звонок
        </div>
        <div class="popup__text">
          Оставьте свои данные и мы с вами свяжемся
        </div>

        <div class="popup__wraps">
          <div class="popup__input">
            <label class="popup__label" for="name">
              Имя*
            </label>
            <input name="name" class="popup__input-input" type="text" placeholder="Ваше имя">
          </div>

          <div class="popup__input">
            <label class="popup__label" for="phone">
              Ваш телефон*
            </label>
            <input name="phone" class="popup__input-input tel" type="text" placeholder="Ваш телефон">
          </div>

          <button class="popup__btn btn btn_2" type="submit">
            <span>Отправить</span>
          </button>

        </div>

        <div class="popup__subtext">
          Нажимая кнопку "Отправить", я даю своё согласие на обработку моих персональных данных, в соответствии с
          Федеральным законом от 27.07.2006 года N°152-ФЗ "О персональных данных", на условиях и для целей, определённых
          в Согласии на обработку персональных данных*
        </div>
      </form>
    </div>
  </div>
</div>