<section class="promo">
    <img class="promo__decor" src="images/icon/down.svg" alt="down" width="40" height="40">
    <img class="promo__bg" src="images/promo.jpg" alt="promo-bg">
    <div class="container">
        <div class="promo__inner">
            <div class="promo__title">
                ООО "Оренбургские промышленные технологии"
            </div>
            <div class="promo__text">
                Наша миссия: Обеспечение безопасных условий труда на предприятиях наших партнёров, соблюдение всех
                действующих норм и стандартов, снижение риска возникновения штрафов и несчастных случаев.
            </div>
            <a class="promo__btn btn btn_2 popup--link" href="#popup">
                Оставить заявку
            </a>
        </div>
    </div>
</section>