<section class="reviews section">
    <img class="reviews__bg" src="images/reviews-bg.png" alt="reviews-bg.png" width="810" height="703">
    <div class="container">
        <div class="reviews__inner">
            <div class="reviews__left">
                <img class="reviews__left-img" src="images/reviews.png" alt="reviews" width="400" height="500">
            </div>
            <div class="reviews__right">
                <div class="reviews__title title">
                    Отзывы наших заказчиков
                </div>

                <div class="reviews__slider-wrap">
                    <div class="reviews__slider swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide reviews__slide-wrap">
                                <div class="reviews__slide">
                                    <div class="reviews__slide-text">
                                        Отличный поставщик промышленного оборудования! Всегда оперативно, качественно и
                                        по разумной цене. Рекомендую!
                                    </div>
                                    <div class="reviews__slide-bottom">
                                        <div class="reviews__slide-name">
                                            Иванов И.И
                                        </div>
                                        <div class="reviews__slide-date">
                                            Компания ООО “Скворечник”
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide reviews__slide-wrap">
                                <div class="reviews__slide">
                                    <div class="reviews__slide-text">
                                        Отличный поставщик промышленного оборудования! Всегда оперативно, качественно и
                                        по разумной цене. Рекомендую!
                                    </div>
                                    <div class="reviews__slide-bottom">
                                        <div class="reviews__slide-name">
                                            Иванов И.И
                                        </div>
                                        <div class="reviews__slide-date">
                                            Компания ООО “Скворечник”
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide reviews__slide-wrap">
                                <div class="reviews__slide">
                                    <div class="reviews__slide-text">
                                        Отличный поставщик промышленного оборудования! Всегда оперативно, качественно и
                                        по разумной цене. Рекомендую!
                                    </div>
                                    <div class="reviews__slide-bottom">
                                        <div class="reviews__slide-name">
                                            Иванов И.И
                                        </div>
                                        <div class="reviews__slide-date">
                                            Компания ООО “Скворечник”
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide reviews__slide-wrap">
                                <div class="reviews__slide">
                                    <div class="reviews__slide-text">
                                        Отличный поставщик промышленного оборудования! Всегда оперативно, качественно и
                                        по разумной цене. Рекомендую!
                                    </div>
                                    <div class="reviews__slide-bottom">
                                        <div class="reviews__slide-name">
                                            Иванов И.И
                                        </div>
                                        <div class="reviews__slide-date">
                                            Компания ООО “Скворечник”
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                    <div class="reviews__arrows-wrap">
                        <div class="reviews__arrow _prev"></div>
                        <div class="reviews__arrow _next"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>