<section class="services section">
    <div class="container">
        <div class="services__title title">
            Наши услуги
        </div>
        <div class="services__subtitle">
            Мы оказывем широкий спектр услуг в разных областях
        </div>
        <ul class="services__grid">
            <li class="services__item">
                <img class="services__img" width="100" height="100" src="images/services/1.svg" alt="services">
                <div class="services__item-text">
                    Охрана труда
                </div>
            </li>
            <li class="services__item">
                <img class="services__img" width="100" height="100" src="images/services/2.svg" alt="services">
                <div class="services__item-text">
                    Пожарная безопасность
                </div>
            </li>
            <li class="services__item">
                <img class="services__img" width="100" height="100" src="images/services/3.svg" alt="services">
                <div class="services__item-text">
                    Промышленная безопасноть
                </div>
            </li>
            <li class="services__item">
                <img class="services__img" width="100" height="100" src="images/services/4.svg" alt="services">
                <div class="services__item-text">
                    Поставка, ремонт СИЗ и оборудования
                </div>
            </li>
            <li class="services__item">
                <img class="services__img" width="100" height="100" src="images/services/5.svg" alt="services">
                <div class="services__item-text">
                    Обучение, повышение квалификации
                </div>
            </li>
            <li class="services__item">
                <img class="services__img" width="100" height="100" src="images/services/6.svg" alt="services">
                <div class="services__item-text">
                    Разработка документации любой сложности (ПМЛА, ПЛАН и т.д.)
                </div>
            </li>
        </ul>
        <div class="services__text">
            Полный список услуг доступен по <a href="#">ссылке</a>
        </div>
    </div>
</section>