<section class="teacher section">
    <div class="container">
        <div class="teacher__title title">
            Преподавательский состав
        </div>
        <ul class="teacher__list">
            <li class="teacher__item">
                <div class="teacher__block">
                    <div class="teacher__img-wrap">
                        <img class="teacher__img" src="images/teacher/1.jpg" alt="teacher" width="188" height="235">
                    </div>
                    <div class="teacher__info">
                        <div class="teacher__name">
                            Морковцев Константин Владимирович
                        </div>
                        <div class="teacher__st">
                            Инженер по охране труда и технике безопасности
                        </div>
                        <div class="teacher__text">
                            Профильное образование (стаж - 9лет); педагог дополнительного профессионального образования
                            - доп.образование (стаж - 6 лет)
                        </div>
                    </div>
                </div>
            </li>
            <li class="teacher__item">
                <div class="teacher__block">
                    <div class="teacher__img-wrap">
                        <img class="teacher__img" src="images/teacher/1.jpg" alt="teacher" width="188" height="235">
                    </div>
                    <div class="teacher__info">
                        <div class="teacher__name">
                            Морковцев Константин Владимирович
                        </div>
                        <div class="teacher__st">
                            Инженер по охране труда и технике безопасности
                        </div>
                        <div class="teacher__text">
                            Профильное образование (стаж - 9лет); педагог дополнительного профессионального образования
                            - доп.образование (стаж - 6 лет)
                        </div>
                    </div>
                </div>
            </li>
            <li class="teacher__item">
                <div class="teacher__block">
                    <div class="teacher__img-wrap">
                        <img class="teacher__img" src="images/teacher/1.jpg" alt="teacher" width="188" height="235">
                    </div>
                    <div class="teacher__info">
                        <div class="teacher__name">
                            Морковцев Константин Владимирович
                        </div>
                        <div class="teacher__st">
                            Инженер по охране труда и технике безопасности
                        </div>
                        <div class="teacher__text">
                            Профильное образование (стаж - 9лет); педагог дополнительного профессионального образования
                            - доп.образование (стаж - 6 лет)
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>