.promo {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  color: $white;
  justify-content: center;
  padding: 150px 0 100px;
  @include adpt($tab-r) {
    padding: 100px 0 60px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #34323c;
    opacity: 0.75;
    z-index: 1;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  &__decor {
    pointer-events: none;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
    z-index: 2;
    animation: moveUpDown 2s linear infinite;
    @include adpt($tab-r) {
      width: 30px;
      height: 30px;
      bottom: 30px;
    }
  }
  & .container {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &__inner {
    padding: 40px 0;
    @include adpt($tab-r) {
      padding: 30px 0;
    }
    @include adpt($bmob-r) {
      padding-top: 50px;
    }
  }
  &__title {
    font-family: $secondFont;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 60px;
    @include adpt($bbig-r) {
      font-size: 36px;
    }
    @include adpt($desm-r) {
      font-size: 30px;
    }
    @include adpt($tab-r) {
      font-size: 28px;
    }
    @include adpt($bmob-r) {
      margin-bottom: 30px;
      font-size: 26px;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 60px;
    max-width: 789px;
    @include adpt($bbig-r) {
      font-size: 23px;
    }
    @include adpt($desm-r) {
      font-size: 20px;
      max-width: 600px;
    }
    @include adpt($tab-r) {
      font-size: 18px;
      max-width: 500px;
      font-weight: 400;
    }
    @include adpt($bmob-r) {
      font-size: 16px;
    }
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  25% {
    transform: translateX(-50%) translateY(-10%);
  }
  75% {
    transform: translateX(-50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
